<h2>Edit replique</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_replique_path(@conn, :update, @replique) %>

<%= link "Back", to: admin_replique_path(@conn, :index) %>
