<div class="page-header">
  <h2>
    Éditer la réplique
    <span class="pull-right">
      <%= link "Voir les répliques", to: admin_replique_path(@conn, :index), class: "btn btn-primary btn-md" %>
    </span>
  </h2>
</div>
<%= render "form.html", changeset: @changeset,
                        action: admin_replique_path(@conn, :update, @replique) %>
