/* This file is for your main application css. */

html,
body {
  height: 100%;
}

.layout {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.layout--peter {
  background-image: url('/images/peter-and-steven.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Admin tweak */

.navbar + .container {
  padding-top: 50px;
}

.label__wrap .btn {
  float: right;
}

@media (max-width: 768px) {
  .navbar-fixed-top .navbar-right .navbar-btn {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top .navbar-right .navbar-btn {
    margin-right: 15px;
  }
}
